body {
	font-family: "Quicksand";
	text-align: center;
}

.bold {
	font-weight: bold;
}

h1 {
	font-weight: normal;
}

.ok {
	background-color: #0ac40a;
	padding: 2px 10px;
	border-radius: 100px;
	color: white;
	transition-duration: 0.3s;
}

.ok:hover {
	background-color: #bbffbb;
	padding: 2px 10px;
	border-radius: 100px;
	color: #0ac40a;
}

.warn {
	background-color: #f29d15;
	padding: 2px 10px;
	border-radius: 100px;
	color: white;
	transition-duration: 0.3s;
}

.warn:hover {
	background-color: #ffe6bf;
	padding: 2px 10px;
	border-radius: 100px;
	color: #f29d15;
	transition-duration: 0.3s;
}

.err {
	background-color: #ea1414;
	padding: 2px 10px;
	border-radius: 100px;
	color: white;
	transition-duration: 0.3s;
}

.err:hover {
	background-color: #ffcccc;
	padding: 2px 10px;
	border-radius: 100px;
	color: #ea1414;
	transition-duration: 0.3s;
}

.off {
	background-color: #7c7c7c;
	padding: 2px 10px;
	border-radius: 100px;
	color: white;
	transition-duration: 0.3s;
}

.off:hover {
	background-color: #e6e6e6;
	padding: 2px 10px;
	border-radius: 100px;
	color: #7c7c7c;
	transition-duration: 0.3s;
}

button {
	background-color: #0091eb;
	font-family: "Quicksand";
	font-size: 18.72px;
	padding: 2px 10px;
	border-radius: 100px;
	color: white;
	transition-duration: 0.3s;
	border: none;
}

button:hover {
	background-color: #a3dcff;
	padding: 2px 10px;
	border-radius: 100px;
	color: #0091eb;
	transition-duration: 0.3s;
}

.left {
	text-align: right;
}

.right {
	text-align: left;
}

table tr td {
	width: 50vw;
}

h3 {
	white-space: nowrap;
}

span {
	font-weight: normal;
}

.progressContainer {
	width: 100px;
	box-sizing: border-box;
	height: 27.33px;
	padding: 0;
	display: inline-grid;
	overflow: hidden;
	text-align: center;
	border-radius: 100px;
	border: none;
	background-color: #d8d8d8;
}

.progressSD {
	margin: 0;
	width: 8%;
	margin-top: -24.5px;
	height: 27.33px;
	border: none;
	background-color: #0ac40a;
}

.progressHD {
	margin: 0;
	width: 1%;
	margin-top: -24.5px;
	height: 27.32px;
	border: none;
	background-color: #0ac40a;
}
